@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
}

.color-picker .react-colorful {
  padding: 16px;
  border-radius: 12px;
  background: rgba(31, 41, 55, 0.6);
  .react-colorful__saturation-pointer {
    width: 16px;
    height: 16px;
  }
  .react-colorful__hue-pointer {
    width: 10px;
    border-radius: 3px;
  }
}

@media screen and (max-width: 430px) {
  .color-picker .react-colorful {
    width: 10em;
    height: 10em;
  }
}

@font-face {
  font-family: 'Impact';
  src: url('../../public/fonts/impact.eot'); /* IE 9 Compatibility Mode */
  src: url('../../public/fonts/impact.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../../public/fonts/impact.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../public/fonts/impact.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../../public/fonts/impact.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../public/fonts/impact.svg#impact') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Lobster';
  src: url('../../public/fonts/lobster.eot'); /* IE 9 Compatibility Mode */
  src: url('../../public/fonts/lobster.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../../public/fonts/lobster.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../public/fonts/lobster.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../../public/fonts/lobster.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../public/fonts/lobster.svg#lobster') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Roboto';
  src: url('../../public/fonts/roboto_regular.eot'); /* IE 9 Compatibility Mode */
  src: url('../../public/fonts/roboto_regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../../public/fonts/roboto_regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../public/fonts/roboto_regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../../public/fonts/roboto_regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../public/fonts/roboto_regular.svg#roboto_regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../public/fonts/open_sans_regular.eot'); /* IE 9 Compatibility Mode */
  src: url('../../public/fonts/open_sans_regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../../public/fonts/open_sans_regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../public/fonts/open_sans_regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../../public/fonts/open_sans_regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../public/fonts/open_sans_regular.svg#open_sans_regular') format('svg'); /* Chrome < 4, Legacy iOS */
}